@media screen and (orientation: landscape) {
  
    html {
        height: 100vh;
    } 
    body {
        font-family: sans-serif;
        /* width: 100vw; */
        /* height: 100%; */
        margin: 0;
        padding: 0;
        background-color: #333
    }

    header {
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: rgba(227, 227, 227, 0.865);
        font-family: 'Courgette', cursive;
    }
    #label {
        display: flex;
        justify-content: center;
        color:rgb(209, 209, 209);
        height: 3%;
    }
    #newh2 {
        font-size: 1.5vw;
    }

    footer {
        height: 2.5vh;
        display: flex;
        justify-content: flex-end;
        color: rgb(209, 209, 209);
        /* background-color: #333; */
        align-items: center;
        padding-right: 1em;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
    }

    #headerName {
        font-size: 3vw;
    }

    #data {
        display: flex;
        /* padding-top: 4em; */
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-left: 10%;
        padding-right: 10%;
    
    }
    main {
        height: 77%;
        font-family: 'Julius Sans One', sans-serif;
    }

    #data > div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: .5em;
        border: 1px gray solid;
        border-radius: 5px;
        background-color: lightgray;
        margin: 1em;
        height: 70%;
        width: 20%;
        box-shadow: 3px 3px 3px black;
        font-size: 1.25vw;
        font-family: 'Quicksand', sans-serif;
    }

    .heroImage {
        background-image: url("https://s3-us-west-1.amazonaws.com/bensgalvanizeprojects.com/auroraforecast/auroraPhoto.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .value {
        padding-top: .2em;
        font-size: 3vw;
    }
    #options {
        height: 4%;
        display: flex;
        justify-content: center;
        padding-top: 1%;
    }

    #data {
        height: 30%;
    }
    #charts {
        height: 40%;
        
    }
    #charts > div{
        display: flex;
        justify-content: center;
    }
    /* @media screen and (max-width: 2900px) and (min-width: 1951px){
        #ovImg {
            height: 375px;
            width: auto;
        }
    } */
    #ovImg {
        height: 35vh;
        width: auto;
    }
    @media (max-width: 1950){
        #ovImg {
            height: 10vh;
            width: auto;
        }
    }
    #ovation {
        height: 70%
    }

    #buttons {
        height: 8%;
    }

    #buttons > button { 
        margin: 3px;
    }
}

@media screen and (orientation: portrait) {
    html {
        height: 100%;
    }
    body {
        font-family: sans-serif;
        width: 100vw;
        height: 100%;
        padding: 0;
        margin: 0;
    }
    
    header {
        width: 100%;
        height: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: rgb(209, 209, 209);
    }
    
    #newh2 {
        font-size: 2.5vw;
    }

    footer {
        height: 3%;
        display: flex;
        justify-content: flex-end;
        color: rgb(209, 209, 209);
        background-color: #333;
        align-items: center;
        padding-right: 1em;
    }
    
    #headerName {
        font-size: 4vw;
    }
    
    #data {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-left: 1%;
        padding-right: 1%;  
    }

    main {
        height: 82%;
        background-color: #333
    }

    #data > div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: .5%;
        border: 1px gray solid;
        border-radius: 2px;
        box-shadow: 2px 2px 2px;
        background-color: lightgray;
        margin: .5%;
        height: 25%;
        width: 25%;
        box-shadow: 1px 1px 1px #333;
        font-size: 1.75vw;
        font-family: 'Quicksand', sans-serif;
    
    }
    
    .heroImage {
        background-image: url("https://static.pexels.com/photos/360912/pexels-photo-360912.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    
    .value {
        padding-top: .2em;
        font-size: 4vw;
    }

    #options {
        height: 3%;
        display: flex;
        justify-content: center;
        padding-top: 1%;
    }

    #data {
        height: 37%;
    }

    #charts {
        height: 60%;
    }

    #charts > div{
        display: flex;
        justify-content: center;
    }

    #ovImg {
        height: 100%;
        width: auto;
    }
    
    #ovation {
        height: 87%
    }
    
    #buttons {
        height: 8%;
    }
    
    #buttons > button { 
        margin: 3px;
    }
    
  }