html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*----------------------------Style Cleared---------------------------*/
@media screen and (orientation: landscape) {
  
    html {
        height: 100vh;
    } 
    body {
        height: 100%;
        display: grid;
        grid-template-rows: repeat(100, 1%);
        font-family: sans-serif;
        margin: 0;
        padding: 0;
        background-color: #333
    }

    header {
        width: 100%;
        grid-row: 1/20;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: rgba(227, 227, 227, 0.865);
        font-family: 'Courgette', cursive;
    }
    #label {
        display: flex;
        justify-content: center;
        color:rgb(209, 209, 209);
        height: 3%;
        padding-top: 10px;
        font-size: 3vh; 
    }
    #newh2 {
        font-size: 1.5vw;
    }

    footer {
        grid-row: 99/101;
        display: flex;
        justify-content: flex-end;
        color: rgb(209, 209, 209);
        /* background-color: #333; */
        align-items: center;
        padding-right: 1em;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
    }

    #headerName {
        font-size: 3vw;
    }

    #data {
        display: flex;
        /* padding-top: 4em; */
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-left: 10%;
        padding-right: 10%;
    
    }
    main {
        grid-row: 20/99;
        font-family: 'Julius Sans One', sans-serif;
    }

    #data > div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: .5em;
        border: 1px gray solid;
        border-radius: 5px;
        background-color: lightgray;
        margin: 1em;
        height: 70%;
        width: 20%;
        box-shadow: 3px 3px 3px black;
        font-size: 1.25vw;
        font-family: 'Quicksand', sans-serif;
    }

    .heroImage {
        background-image: url("https://s3-us-west-1.amazonaws.com/bensgalvanizeprojects.com/auroraforecast/auroraPhoto.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .value {
        padding-top: .2em;
        font-size: 3vw;
    }
    #options {
        height: 4%;
        display: flex;
        justify-content: center;
        padding-top: 1%;
    }

    #data {
        height: 30%;
    }
    #charts {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 57%;
        
    }
    #charts > div{
        display: flex;
        align-items: space-around;
    }
    /* @media screen and (max-width: 2900px) and (min-width: 1951px){
        #ovImg {
            height: 375px;
            width: auto;
        }
    } */
    #ovImg {
        height: 35vh;
        width: auto;
    }
    @media (max-width: 1950){
        #ovImg {
            height: 10vh;
            width: auto;
        }
    }
    #ovation {
        height: 70%
    }

    #buttons {
        height: 8%;
    }

    #buttons > button { 
        margin: 3px;
    }
}

@media screen and (orientation: portrait) {
    html {
        height: 100vh;
        width: 100vw;
    }
    body {
        display: grid;
        grid-template-rows: repeat(100, 1%);
        font-family: sans-serif;
        width: 100%;
        height: 100%;
        background-color: #333;
        padding: 0;
        margin: 0;
    }
    
    header {
        grid-row: 1/13;
        width: inherit;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: rgb(209, 209, 209);
        font-family: 'Courgette', cursive;
    }
    header > div > h1 {
        display: flex;
        align-items: flex-end;
        margin: 0;
    }
    #label {
        display: flex;
        justify-content: center;
        color:rgb(209, 209, 209);
        align-items: center;
    }
    #newh2 {
        font-size: 2.5vw;
        margin: 0;
    }

    footer {
        grid-row: 99/101;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        color: rgb(209, 209, 209);
        background-color: #333;
        align-items: center;
        padding-right: 1em;
        font-size: 2vh;
    }
    
    #headerName {
        font-size: 4vw;
    }
    
    #data {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-left: 1%;
        padding-right: 1%;  
    }

    main {
        display: grid;
        grid-template-rows: repeat(100, 1%);
        grid-row: 13/95;
        height: 100%;
        background-color: #333;
        font-family: 'Julius Sans One', sans-serif;
        padding-top: 1%;
    }


    #data > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 7px;
        border: 1px gray solid;
        border-radius: 5px;
        box-shadow: 2px 2px 2px;
        background-color: lightgray;
        margin: .5%;
        height: 17%;
        width: 65%;
        box-shadow: 1px 1px 1px #333;
        font-size: 2vh;
        font-family: 'Quicksand', sans-serif;
    
    }
    .key {
        font-size: 2.5vh;
    }
    .heroImage {
        background-image: url("https://static.pexels.com/photos/360912/pexels-photo-360912.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    
    .value {
        
        font-size: 4vh;
    }

    #options {
        grid-row: 2/5;
        display: flex;
        justify-content: center;
        padding-top: 1%;
    }

    #label {
        grid-row: 5/10;
        font-size: 2vh;
        padding: 1%
    }
    #label > h1 {
        font-size: 2vh;
        margin: 1%;    
    }
    #data {
        grid-row: 10/70;
    }
    
    #charts {
        grid-row: 71/97;
    }

    #charts > div{
        display: flex;
        justify-content: center;
    }

    #ovImg {
        height: 85%;
        width: auto;
    }
    
    #ovation {
        height: 20vh;
    }
    
    #buttons {
        height: 8%;
        
    }
    
    #buttons > button { 
        margin: 3px;
        font-size: 1.5vh;
    }
    #options > button {
        font-size: 1.5vh;
    }
    
  }