html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*----------------------------Style Cleared---------------------------*/
.brochure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 6em;
    margin-right: 6em;
    margin-top: 3em;
    font-size: 2.5vh;
    color: lightgrey;
    line-height: 1.75em;
    font-family: 'Open Sans', sans-serif;
}
.brochure > h2 {
    font-size: 5vh;
    padding-bottom: 1.5em;
}

.about {
    color: whitesmoke;
    font-size: 2vh;
}

@media screen and (orientation: landscape) {
  
    html {
        height: 200%;
        width: 100vw;
    } 
    body {
        height: 100%;
        width: 100vw;
        display: grid;
        grid-template-rows: repeat(100, 1%);
        font-family: sans-serif;
        margin: 0;
        padding: 0;
        background-color: rgba(21, 32, 34, 0.902);
    }

    header {
        width: 100vw;
        grid-row: 1/12;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: rgba(227, 227, 227, 0.865);
        box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.459);
        font-family: 'Courgette', cursive ; 
    }

    .heroText {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .heroText > h2 {
        font-size: 1.25em;
    }

    #label {
        display: flex;
        justify-content: center;
        color:rgb(209, 209, 209);
        grid-row: 62/65;
        /* height: 3%; */
        font-size: 3vh; 
    }

    footer {
        width: 95vw;
        grid-row: 99/100;
        display: flex;
        justify-content: space-between;
        color: rgb(209, 209, 209);
        align-items: center;
        padding-left: 1em;
        padding-right: 1em;
        position: fixed;
        bottom: 0;
        right: 5;
        left: 0;
        font-size: .75em;
    }
    

    #headerName {
        font-size: 3vw;
    }

    #data {
        grid-row: 66/80;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-left: 10%;
        padding-right: 10%;
    
    }
    main {
        width: 100vw;
        display: grid;
        grid-template-rows: repeat(100, 1%);
        grid-row: 13/99;
        font-family: 'Julius Sans One', sans-serif;
    }

    #data > div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: .5em;
        border: 1px gray solid;
        border-radius: 5px;
        background-color: rgba(180, 179, 179, 0.865);
        margin: 1em;
        height: 5em;
        width: 20%;
        box-shadow: 0 1px 3px 3px rgba(0, 0, 0, 0.466);
        font-size: 1.25vw;
        font-family: 'Quicksand', sans-serif;
    }

    .heroImage {
        background-image: url("https://s3-us-west-1.amazonaws.com/bensgalvanizeprojects.com/auroraforecast/auroraPhoto.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .value {
        padding-top: .2em;
        font-size: 3vw;
    }
    #options {
        /* height: 8%; */
        display: flex;
        justify-content: center;
        grid-row: 52/60;
        width: 100vw;
    }

    #webcam {
        display: flex;
        justify-content: center;
        grid-row: 2/50;
        /* height: 50%; */
        width: 100vw;

    }

    #webcamView {
        height: 100%;
        width: auto;
    }

    #charts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-row: 82/101;
        width: 100vw;  
    }

  
    #ovImg {
        height: 30vh;
        width: auto;
    }
   
    #ovation {
        display: flex;
        justify-content: center;
        width: 100vw;
    }

    #buttons {
        display: flex;
        flex-direction: row;
    }


    button {
        margin: 1em;
        background-color: rgb(0, 59, 76);
        color: rgb(209, 209, 209);
        border-color: black;
        border-radius: 4.5px;
        border: solid rgb(0, 59, 76) 1px;
        box-shadow: rgba(0, 0, 0, 0.491) 0 1px 3px 3px;
        font-family: 'Quicksand', sans-serif;
        font-weight: bolder;
        font-size: 80%;
        height: 3em;
        width: 15vw;
    }
    #buttons > button {
        width: 10vw;
    }
    button:hover {
        background-color:  rgba(0, 118, 151, 0.808);
        cursor: pointer;
    }

    button:active {
        background-color: rgb(0, 59, 76) !important;
    }
}

@media screen and (orientation: portrait) {
  
    html {
        height: 200%;
        width: 100vw;
    } 
    body {
        height: 100%;
        width: 100vw;
        display: grid;
        grid-template-rows: repeat(100, 1%);
        font-family: sans-serif;
        margin: 0;
        padding: 0;
        background-color: rgba(21, 32, 34, 0.902);
    }

    header {
        width: 100vw;
        grid-row: 1/12;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: rgba(227, 227, 227, 0.865);
        box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.459);
        font-family: 'Courgette', cursive ; 
    }

    .heroText {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .heroText > h2 {
        font-size: 1.25em;
    }

    #label {
        display: flex;
        justify-content: center;
        color:rgb(209, 209, 209);
        grid-row: 62/65;
        /* height: 3%; */
        font-size: 3vh; 
    }

    footer {
        width: 95vw;
        grid-row: 99/100;
        display: flex;
        justify-content: space-between;
        color: rgb(209, 209, 209);
        align-items: center;
        padding-left: 1em;
        padding-right: 1em;
        position: fixed;
        bottom: 0;
        right: 5;
        left: 0;
        font-size: .75em;
    }
    

    #headerName {
        font-size: 3vw;
    }

    #data {
        width: 100vw;
        grid-row: 66/80;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-left: 5%;
        padding-right: 5%;
    
    }
    main {
        width: 100vw;
        display: grid;
        grid-template-rows: repeat(100, 1%);
        grid-row: 13/99;
        font-family: 'Julius Sans One', sans-serif;
    }

    #data > div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: .5em;
        border: 1px gray solid;
        border-radius: 5px;
        background-color: rgba(180, 179, 179, 0.865);
        margin: 1em;
        height: 5em;
        width: 20%;
        box-shadow: 0 1px 3px 3px rgba(0, 0, 0, 0.466);
        font-size: 1.25vw;
        font-family: 'Quicksand', sans-serif;
    }

    .heroImage {
        background-image: url("https://s3-us-west-1.amazonaws.com/bensgalvanizeprojects.com/auroraforecast/auroraPhoto.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .value {
        padding-top: .2em;
        font-size: 3vw;
    }
    #options {
        display: flex;
        justify-content: center;
        grid-row: 52/60;
        width: 100vw;
    }

    #webcam {
        display: flex;
        justify-content: center;
        grid-row: 2/30;
        width: 100vw;

    }

    #webcamView {
        height: auto;
        width: 100%;
    }

    #charts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-row: 82/101;
        width: 100vw;  
    }

  
    #ovImg {
        height: 30vh;
        width: auto;
    }
   
    #ovation {
        display: flex;
        justify-content: center;
        width: 100vw;
    }

    #buttons {
        display: flex;
        flex-direction: row;
    }


    button {
        margin: 1em;
        background-color: rgb(0, 59, 76);
        color: rgb(209, 209, 209);
        border-color: black;
        border-radius: 4.5px;
        border: solid rgb(0, 59, 76) 1px;
        box-shadow: rgba(0, 0, 0, 0.491) 0 1px 3px 3px;
        font-family: 'Quicksand', sans-serif;
        font-weight: bolder;
        font-size: 80%;
        height: 3em;
        width: 15vw;
    }
    #buttons > button {
        width: 10vw;
    }
    button:hover {
        background-color:  rgba(0, 118, 151, 0.808);
        cursor: pointer;
    }

    button:active {
        background-color: rgb(0, 59, 76) !important;
    }
}